//
//  Config.Common.xcconfig
//  AudioPlugin3DTIWrapper
//
//  Created by Diana UMA on 26/11/16.
//  Copyright © 2016 Grupo Diana. All rights reserved.
//

_3DTI_CORE = ../../../../../3DTI_Toolkit_Core
OTHER_CFLAGS = -D_3DTI_AXIS_CONVENTION_UNITY -D_3DTI_ANGLE_CONVENTION_LISTEN -DUNITY_IOS

// 3DTune-In accumulated
_3DTI_HEADERS = $(_3DTI_CORE)

// ALL accumulated
HEADER_SEARCH_PATHS = $(_3DTI_HEADERS)
