//
//  Config.Common.xcconfig
//  AudioPlugin3DTIToolkit
//
//  Created by Diana UMA on 26/11/16.
//  Copyright © 2016 Grupo Diana. All rights reserved.
//

_3DTI_PATH = ../../../3dti_AudioToolkit
_3DTI_THIRD_PARTY = $(_3DTI_PATH)/3dti_ResourceManager/third_party_libraries

OTHER_CFLAGS = -D_3DTI_AXIS_CONVENTION_UNITY -D_3DTI_ANGLE_CONVENTION_LISTEN

// 3DTune-In 3rd party
CEREAL = $(_3DTI_THIRD_PARTY)/CEREAL
CEREAL_HEADERS = $(CEREAL)/include

_3DTI_RESUORCE_MGR = $(_3DTI_PATH)/3dti_ResourceManager
_3DTI_TOOLKIT = $(_3DTI_PATH)/3dti_Toolkit

// 3DTune-In accumulated
_3DTI_HEADERS = $(_3DTI_RESUORCE_MGR) $(_3DTI_TOOLKIT) $(CEREAL_HEADERS)

// ALL accumulated
HEADER_SEARCH_PATHS = $(_3DTI_HEADERS)
